:root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #3b657a;
}

.ai ol {
    display: flex;
    gap: 20px;
    margin: 23px 20px;
}

html {
    font-family: Urbanist;
}

.ain {
    margin: 20px;
    font-size: 2rem;
}

.recomendado {
    background-image: url(imgs/6.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    color: #003f69;
}

/* Cada bloco interno */
.recomendadoo {
    background-color: #003f69;
    color: aliceblue;
    text-align: justify;
    padding: 0;
    font-size: 20px;
    margin: 20px;
    border-radius: 40px;
}

p {
    margin: 30px;
}

section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.h1s {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}

/* Botão */
.text-box {
    text-align: center;
    margin-top: 40px;
}

.btn {
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 100px;
    background-color: #3b657a;
    color: aliceblue;
    position: relative;
}

/* Efeito */
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #003f69;
    transition: .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


@media (max-width: 768px) {

    /* Menu */
    .ai ol {
        flex-direction: column;
        gap: 10px;
    }


    section {
        flex-direction: column;
        padding: 0 10px;
    }

    .recomendadoo {
        margin: 10px 0;
        width: 100%;
        border-radius: 20px;
    }

    .h1s {
        font-size: 2.5rem;
        padding: 20px;
    }
}

nav.menu-overlay {
    display: flex;
    gap: 20px;
}
.hamburger {
    display: none;
}


/* ----- MOBILE ----- */
@media (max-width: 768px) {

    /* Botão hamburguer */
    .hamburger {
        display: block;
        width: 35px;
        cursor: pointer;
        margin-right: 20px;
        float: right;
        z-index: 1001;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        background: #003f69;
        margin: 6px 0;
        border-radius: 10px;
        transition: 0.3s;
    }

    /* MENU FULLSCREEN */
    nav.menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;        /* ocupa a tela toda */
        width: 100%;
        background-color: #003f69;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%); /* escondido */
        transition: 0.4s ease;
        z-index: 1000;
    }

    /* lista */
    nav.menu-overlay ol {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    nav.menu-overlay ol li a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }

    /* Mostrar menu */
    nav.menu-overlay.active {
        transform: translateY(0);
    }
}



