:root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    /* remove o sublinhado dos links */
    color: white;
    font-size: 20px;
    /* altera a cor de todos os links das páginas */
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #3b657a;

}

.ai ol {
    display: flex;
    gap: 20px;
    margin: 23px 20px 23px 20px;

}

html {
    font-family: Urbanist;
}

.ain {
    margin: 20px 20px 20px 20px;
    font-size: 2rem;
}
.recomendado{
    background-image: url(imgs/6.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
    
    color: #003f69;

    
}
/* ANIMAÇÃO MAIS FORTE */
@keyframes balance {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(12deg); }
  40%  { transform: rotate(-12deg); }
  60%  { transform: rotate(8deg); }
  80%  { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

/* SEU TÍTULO */
.recomendado h1{
    padding: 20px 400px 40px 400px;
    text-align: center;
    font-size: 100px;
    font-weight: 600;
}

/* BALANÇAR NO HOVER */
.recomendado h1:hover {
    animation: balance 0.6s ease;
    cursor: pointer;
}

.recomendadoo ol{
    color: aliceblue;
    padding: 0px 30px 0px 0px;
    
   
   
   
}
.recomendadoo img{
    width: 550px;
    height: 350px;
    border-radius: 100px;
}
.recomendadoo{
    display: flex;
     background-color: #4c94ac;
    font-size: 30px;
    padding: 50px 200px 50px 200px;
    align-items: center;
    text-align: end;
    margin:30px 200px 30px 200px ;
 font-weight: 700;
    border-radius: 1000px; 
     transform: scale(1.1); 
  cursor: pointer; 

}

.text-box {
margin: 50px 1000px 30px 800px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #3b657a;
    color: aliceblue;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color:#003f69;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
